.marginRight {
  margin: 0 1rem 0 0;
}

.marginNone {
  margin: 0;
}

.codeMirrorSize {
  border: 1px solid #eee;
  height: 90vh;
}

.blinkingBackground {
  display: inline-block;
  font-weight: 900;
}
