.font {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.5;
  font-family: monospace, BlinkMacSystemFont, -apple-system, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

.fontInfo {
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.5;
  font-family: monospace, BlinkMacSystemFont, -apple-system, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

.fontInfoSubTitle {
  margin: 1rem 0;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  font-family: monospace, BlinkMacSystemFont, -apple-system, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}