$breadcrumb-item-separator-color: transparent;

@import "bulma";
@import "../node_modules/bulma-slider/src/sass/index.sass";

#root {
  padding-top: 0;
  background-color: #0C0C0D;
  position: absolute;
  z-index: -10;
  width: 100%;
  min-height: 100%;
}

input[type=range].slider.is-fullwidth.is-info {
  margin: 0 1rem 0 0;
}
